In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import pyformance as pyf

In [2]:
df = pd.read_excel('PIGC.xlsx', index_col=0)

In [3]:
pyf.perf_summary(df, bm_col=3)

            PIGF_USD   PIGF_CAD   BUSC_CAD     MW_CAD        RF
ANN_RET     5.842916   6.611418   5.552227   6.896946  1.249392
STD_DEV     9.308507   5.914347   5.540891  11.613600  0.436431
DS_DEV      4.331133   5.289949   5.005006   8.682551       NaN
MAX_DD    -22.065002 -10.266496 -14.152646 -43.753004  0.000000
SHARPE      0.487104   0.895581   0.767034   0.480219  0.000000
SORTINO     1.046888   1.001291   0.849160   0.642331       NaN
BETA        0.115150   0.156641   0.099067   1.000000 -0.002897
UP_CAPT     0.268949   0.286818   0.208857   1.000000  0.038093
DOWN_CAPT  -0.031374  -0.061060  -0.103090   1.000000 -0.038982

In [4]:
pyf.maxdd(df,dd_col=3)

         PEAK     TROUGH DRAWDOWN DURATION RECOVERY
0  2007-01-31 2009-02-28   -43.75     2.08     4.33
1  2002-11-30 2003-03-31   -15.19     0.33     0.67
2  2020-01-31 2020-03-31   -14.51     0.17     0.25
3  2011-04-30 2011-09-30   -11.74     0.42     0.42
4  2015-12-31 2016-02-29       -9     0.17     0.67
5  2018-08-31 2018-12-31     -8.8     0.33     0.17
6  2009-12-31 2010-06-30    -8.61      0.5     0.17
7  2004-06-30 2004-10-31    -7.73     0.33     0.17
8  2015-07-31 2015-09-30    -7.31     0.17     0.17
9  2012-03-31 2012-05-31    -6.38     0.17     0.33
10 2006-03-31 2006-05-31    -6.08     0.17     0.33
11 2019-04-30 2019-05-31     -5.3     0.08     0.33
12 2017-05-31 2017-07-31    -4.83     0.17     0.17
13 2005-02-28 2005-03-31    -3.48     0.08     0.25
14 2005-07-31 2005-10-31    -2.95     0.25     0.08
15 2004-02-29 2004-03-31     -2.7     0.08     0.17
16 2018-02-28 2018-03-31    -1.58     0.08     0.08
17 2015-02-28 2015-03-31    -0.16     0.08     0.08
18 2011-10-31 2011-11-30    -0.13     0.08     0.08
19 2003-02-28 2003-02-28       -0        0     0.08
20 2003-08-31 2003-08-31       -0        0     0.08
21 2004-09-30 2004-09-30       -0        0     0.08
22 2005-05-31 2005-05-31       -0        0     0.08
23 2005-09-30 2005-09-30       -0        0     0.08
24 2006-01-31 2006-01-31       -0        0     0.08